.previews__wrapper {
  position: relative;
  z-index: 1;
}

.previews__title__d2 {
  margin-left: 360px;
  position: relative;
  width: 490px;
}

.previews__title__yndx {
	margin-left: 600px;
}

.elipse-9 {
  position: relative;
  z-index: 2;
}

.elipse-9 span {
  position: relative;
  z-index: 2;
}

.elipse-9 b {
  position: relative;
  z-index: 2;
}

.elipse-9:before {
  content: '';
  position: absolute;
  top: -240px;
  left: -290px;
  background: url(../../../../img/ellipse-9.png) no-repeat;
  width: 962px;
  height: 596px;
  z-index: 1;
}

.elipse-10 {
  position: relative;
}

.elipse-10 > span {
  position: relative;
  z-index: 2;
}

.elipse-10 > b {
  position: relative;
  z-index: 2;
}

.elipse-10:before {
  content: '';
  position: absolute;
  top: -240px;
  left: -290px;
  background: url(../../../../img/ellipse-9.png) no-repeat;
  width: 962px;
  height: 596px;
  z-index: 1;
}

.HomeReviews__link {
	text-decoration: none;
}

.HomeReviews__button {
	position: relative;
	left: 32%;
	margin-top: 2%;
	margin-bottom: 7%;
}