* {
	box-sizing: border-box;
}

.Flowers {
	background: black;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	animation: opacity 1s linear;
	min-height: 100vh;
}

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}