.about {
  background: black;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  animation: opacity 0.5s linear;
	overflow-x: hidden;
}