.grid-container {
  display: flex;
	height: 100vh;
  flex-direction: column;
  grid-gap: 30px;
  padding: 20px;
	margin-top: 5%;
}

.pair-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
	max-width: 75%;
  opacity: 0;
  transform: translateX(-80px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.pair-container.visible {
  opacity: 1;
  transform: translateX(0);
}

.left-align {
  justify-content: flex-start;
	margin-left: 5%;
  margin-right: auto;
	text-align: left;
}

.right-align {
  justify-content: flex-end;
	margin-left: auto;
  margin-right: 5%;
	text-align: right;
	transform: translateX(80px);
}

.video-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-item video {
  width: 500px;
  height: auto;
  border: 1px dashed #FF0000;
}

.text-item {
  font-size: 1.4rem;
	max-width: 55%;
  font-weight: 600;
  color: #fff;
  padding: 20px;
  margin-left: 10px;
}
