.reviews__container {
	width: 65%;
	color: #fff;
	text-align: center;
	background: #111111;
	padding: 20px 20px 20px 50px;
	margin: 1% auto;
	margin-bottom: 7%;
	position: relative;
	z-index: 6;
}

.reviews__container::before {
	content: '........................................................................';
  position: absolute;
  left: -77px;
  bottom: 80%;
  font-size: 9px;
  color: #FF0000;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.reviews__container::after {
	content: '......';
  position: absolute;
  left: -60px;
  bottom: 79%;
  height: 183px;
  width: 4px;
  color: #FF0000;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 33px;
  letter-spacing: 20px;
}

.reviews__title {
	margin-top: 7%;
	margin-left: 15%;
	align-self: flex-start;
	z-index: 5;
}

.reviews__container__text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reviews__container a {
	font-size: 1.5em;
	margin-top: 50px;
	display: block;
	color: #fff;
	text-decoration-color: #ff0000;
}

.reviews__container span {
	font-size: 1.5em;
}

.reviews__img {
	width: 20%;
	margin-top: 20px;
}