.headings {
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: auto;
	padding: 50px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px); /* Смещение вверх */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Исходное положение */
  }
}

.headings .element {
  width: 30%;
  font-weight: 600;
  color: #fff;
  opacity: 0; /* Исходно скрыты */
  transform: translateY(50px); /* Начальная позиция для анимации */
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.headings .element span {
	font-size: 1.4em;
}

.headings .element h2 {
	font-size: 2em;
	font-weight: 700;
}

.headings .element.visible {
  opacity: 1;
  transform: translateY(0);
}

.headings .element img {
	width: 120px;
	margin-top: 20px;
}

.line_border_lb {
  position: absolute;
  left: 20px;
  bottom: 20px;
	z-index: 10;
}

.line_border_lb_red {
  background: #FF0000;
}

.line_border_lb_red:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 78px;
  width: 1px;
  background: #FF0000;
}

.line_border_lb_red:after {
  content: '';
  position: absolute;
  left: -8px;
  bottom: 0;
  height: 1px;
  width: 78px;
  background: #FF0000;
}

.line_border_lb .dotted {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #FF0000;
  bottom: 3px;
  left: 2px;
}

.line_border_lb .dotted:before {
  content: '';
  position: absolute;
  left: 6px;
  bottom: -1px;
  width: 10px;
  height: 2px;
  border-top: 2px dotted #FF0000;
}

.line_border_lb .dotted:after {
  content: '';
  position: absolute;
  left: 1px;
  bottom: 6px;
  height: 10px;
  width: 2px;
  border-left: 2px dotted #FF0000;
}

.line_border_rb {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.line_border_rb_gray {
  background: #444444;
}

.line_border_rb_gray:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 78px;
  width: 1px;
  background: #444444;
}

.line_border_rb_gray:after {
  content: '';
  position: absolute;
  left: -69px;
  bottom: 0;
  height: 1px;
  width: 78px;
  background: #444444;
}

.line_border_rb .dotted {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #444444;
  bottom: 3px;
  left: -5px;
}

.line_border_rb .dotted:before {
  content: '';
  position: absolute;
  left: -12px;
  bottom: -1px;
  width: 10px;
  height: 2px;
  border-top: 2px dotted #444444;
}

.line_border_rb .dotted:after {
  content: '';
  position: absolute;
  left: 1px;
  bottom: 6px;
  height: 10px;
  width: 2px;
  border-left: 2px dotted #444444;
}

.line_border_rt {
  position: absolute;
  right: 20px;
  top: 20px;
}

.line_border_rt_red {
  background: #FF0000;
}

.line_border_rt_red:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -69px;
  height: 78px;
  width: 1px;
  background: #FF0000;
}

.line_border_rt_red:after {
  content: '';
  position: absolute;
  left: -69px;
  bottom: 0;
  height: 1px;
  width: 78px;
  background: #FF0000;
}

.line_border_rt .dotted {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #FF0000;
  bottom: -5px;
  left: -5px;
}

.line_border_rt .dotted:before {
  content: '';
  position: absolute;
  left: -12px;
  bottom: -1px;
  width: 10px;
  height: 2px;
  border-top: 2px dotted #FF0000;
}

.line_border_rt .dotted:after {
  content: '';
  position: absolute;
  left: 1px;
  bottom: -12px;
  height: 10px;
  width: 2px;
  border-left: 2px dotted #FF0000;
}

.line_border_lt {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 10;
}

.line_border_lt_gray {
  background: #FF0000;
}

.line_border_lt_gray:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -70px; /* Позиция сверху */
  height: 78px;
  width: 1px;
  background: #444444;
}

.line_border_lt_gray:after {
  content: '';
  position: absolute;
  right: -70px; /* Позиция слева */
  top: 0;
  height: 1px;
  width: 78px;
  background: #444444;
}

.line_border_lt .dotted {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #444444;
  top: 3px; /* Позиция точки сверху */
  left: 2px; /* Позиция точки слева */
}

.line_border_lt .dotted:before {
  content: '';
  position: absolute;
  left: 6px;
  top: -1px;
  width: 10px;
  height: 2px;
  border-top: 2px dotted #444444;
}

.line_border_lt .dotted:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 6px;
  height: 10px;
  width: 2px;
  border-left: 2px dotted #444444;
}