@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 470px;
  width: 100%;
  overflow: hidden;
	text-align: center;
}

.container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.container div {
  z-index: 2;
}

.loginreg {
	width: 13%;
	display: flex;
	justify-content: space-between;
}

.loginreg * {
	padding: 0 2px;
	border: 1px solid white;
}

.loginreg * *{
	text-decoration: none;
	font-size: 1em;
	vertical-align: middle;
	color: white;
	padding: 10px 2px;
}

.username {
	position: relative;
	text-align: center;
	padding: 0 10px;
	cursor: pointer;
	background: rgba(187, 187, 187, 0.5);
	border: 1px solid white;
	font-size: 15px;
	width: auto;
	height: 50px;
}

.username > * {
	color: white;
	text-decoration: none;
}

.container h1 {
		font-family: "Oleo Script", cursive;
		font-size: 3.5rem;
		color: white;
		font-weight: bold;
		text-decoration: none;
		margin-top: -15%;
		text-shadow: -3px 3px 0px #FF1D25;
}

h1::before, h2::before, .button::before {
  content: '';
  position: absolute;
  top: 25%;
  left: 26%;
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.3); /* черный с прозрачностью */
  transform: skew(30deg);
  z-index: -1;
}

.container h1::first-letter {
	color:#FF0000;
	font-size: 4.6rem;
}

.container h2 {
	color: white;
	font-size: 1.8em;
	text-shadow: 0 0 20px black;
}

/* .container h3 {
	position: absolute;
	color: white;
	bottom: 0;
	left: 0;
  font-family: "Caveat", cursive;
	font-optical-sizing: auto;
	font-size: 1.5em;
	margin: 10px;
	text-shadow: 0 0 20px black;
} */
 
.button {
  position: absolute;
  padding: 3px;
  width: 260px;
  border: 1px solid #4F4F4F;
  margin-top: 20px;
  z-index: 10;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: blink;
  animation-name: blink;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  left: 50%;
  transform: translateX(-50%);
}

.button:hover {
  border-color: #FF0000;
}

.button:hover:before {
  width: 0px;
}

.button:hover:after {
  width: 0px;
}

.button:before {
  content: '';
  position: absolute;
  width: 59px;
  height: 1px;
  background: #080808;
  top: -1px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  left: 8px;
}

.button:after {
  content: '';
  position: absolute;
  width: 59px;
  height: 1px;
  background: #010101;
  bottom: -1px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  right: 8px;
}

@-webkit-keyframes blink {
  50% {
    border-color: #FF0000;
  }
}

@keyframes blink {
  50% {
    border-color: #FF0000;
  }
}

.btn {
  width: 240px;
  height: 56px;
	font-weight: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  font-weight: normal;
  padding-left: 10px;
  overflow: hidden;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.btn:hover p {
  color: #FF0000;
}

.btn p {
  margin: 0;
  position: relative;
  z-index: 10;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.item1 {
  position: absolute;
  width: 78px;
  height: 57px;
  -webkit-transform: skew(20deg);
  transform: skew(-8deg);
  background: #390000;
  right: -9px;
  z-index: 1;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-animation-name: back;
          animation-name: back;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes back {
  40% {
    width: 82px;
  }
}

@keyframes back {
  40% {
    width: 82px;
  }
}

@-webkit-keyframes back-2 {
  15% {
    width: 82px;
  }
}

@keyframes back-2 {
  15% {
    width: 82px;
  }
}

@-webkit-keyframes back-3 {
  10% {
    width: 82px;
  }
}

@keyframes back-3 {
  10% {
    width: 82px;
  }
}

@-webkit-keyframes back-4 {
  5% {
    width: 82px;
  }
}

@keyframes back-4 {
  5% {
    width: 82px;
  }
}

.item2 {
  position: absolute;
  width: 78px;
  height: 57px;
  -webkit-transform: skew(20deg);
  transform: skew(-8deg);
  background: #620101;
  right: -15px;
  z-index: 2;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-animation-name: back-2;
          animation-name: back-2;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.item3 {
  position: absolute;
  width: 78px;
  height: 57px;
  -webkit-transform: skew(20deg);
  transform: skew(-8deg);
  background: #7A0303;
  right: -22px;
  z-index: 3;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-animation-name: back-3;
          animation-name: back-3;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.item4 {
  position: absolute;
  width: 78px;
  height: 57px;
  -webkit-transform: skew(20deg);
  transform: skew(-8deg);
  background: #FF0000;
  right: -28px;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-animation-name: back-4;
          animation-name: back-4;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.item4:before {
  content: '';
  position: absolute;
  background: url(../../../../img/btn.png) no-repeat;
  width: 32px;
  height: 19px;
  left: 10px;
}

.about {
	position: absolute;
	justify-self: center;
	align-self: flex-end;
	background: rgba(181, 179, 179, 0.4);
	text-align: center;
	font-size: 1em;
	cursor: pointer;
	font-weight: 600;
	color: white;
	padding: 10px 0;
	height: 50px;
	width: 13%;
	transition: all .5s ease;
}

.about:hover {
	border: 1px solid rgb(188, 188, 188);
	border-bottom: none;
	height: 60px;
}

/* анимации */

@keyframes transform {
	from {
		opacity: 0;
		transform: translateY(80%);
		background-size: 10%;
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes bg {
	from {
		background-position: 0 10%;
	}
	to {
		background-position: 0 30%;
	}
}