@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
	text-align: center;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

.container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.container div {
  z-index: 2;
	text-align: center;
}

.container h1 {
	font-family: "Roboto Condensed", cursive;
	font-size: 4rem;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.container h1::first-letter {
	color:#FF0000;
	font-size: 4.6rem;
}

.container h2 {
	color: white;
	margin-top: -10%;
	font-family: "Roboto Condensed", cursive;
	font-weight: 400;
	font-size: 1.3em;
	text-shadow: 0 0 20px black;
}

.container h3 {
	font-family: "Roboto Condensed", cursive;
	color: white;
	line-height: 30px;
	padding: 0 25% 0 25%;
	font-weight: 400;
	font-size: 1.4em;
	text-shadow: 0 0 20px black;
	margin-bottom: 20px;
}

.typing {
	position: absolute;
	color: white;
	bottom: 0;
  font-family: "Caveat", cursive;
	font-optical-sizing: auto;
	font-size: 1.5em;
	z-index: 2;
	margin: 10px;
	text-shadow: 0 0 20px black;
}
