* {
	box-sizing: border-box;
}

body {
	background-image: url('../img/bg.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
}
