@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
/* стили заголовка */
.header {	
	left: 0;
	top: 0;
	right: 0;
	position: fixed;
	align-self: baseline;
	display: flex;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
	width: 100%;
	height: 55px;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	z-index: 99;
}

.navbar {
	margin-left: 80px;
	z-index: 99;
}

.navbar * {
	position: relative;
	font-size: 16px;
	color: aliceblue;
	text-decoration: none;
	font-weight: 500;
	margin-right: 30px;
}

.navbar *::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 2px;
	background: #FF0000;
	border-radius: 5px;
	transition: all .3s ease;
	transform: translateY(10px);
	opacity: 0;
}

.navbar *:hover::after {
	opacity: 1;
	transform: translateY(0);
}

.header__name {
	font-size: 1.8rem;
	font-style: italic;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.589);
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-shadow: -1.5px 1.5px 0px #FF1D25;
}

.header__name::first-letter {
	color:#FF0000;
	font-size: 2.2rem;
}

.username {
	text-align: center;
	padding: 0 10px;
	color: white;
	font-size: 15px;
	width: auto;
	height: 50px;
}

.username > * {
	color: white;
	text-decoration: none;
}

.loginreg {
	width: auto;
	gap: 30px;
	display: flex;
	justify-content: space-between;
}

.loginreg > *{
	position: relative;
	font-size: 16px;
	color: aliceblue;
	text-decoration: none;
	font-weight: 500;
}


.loginreg > *::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 2px;
	background: #FF0000;
	border-radius: 5px;
	transition: all .3s ease;
	transform: translateY(10px);
	opacity: 0;
}

.loginreg > *:hover::after {
	opacity: 1;
	transform: translateY(0);
}