.logregbox {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - 58%);
	height: 100%;
}

.logregbox .formbox {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(20px);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: aliceblue;
	animation: bottom 1s ease;
}

.error_msg {
	color: #def607;
	position: absolute;
	top: 35%;
	left: 44%;
	font-size: 14px;
	animation: opacity .5s ease;
}

.error_msg_hidden {
	display: none;
}

.p_equal {
	color: #def607;
	position: absolute;
	top: 50%;
	left: 58%;
	font-size: 14px;
	animation: opacity .5s ease;
}

.p_equal_hidden {
	display: none;
}

.formbox h2 {
	font-size: 32px;
	text-align: center;
}

.formbox .inputbox {
	position: relative;
	width: 340px;
	height: 50px;
	border-bottom: 2px solid aliceblue;
	margin: 30px 0;
}

.inputbox input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	font-size: 16px;
	color: aliceblue;
	font-weight: 500;
	padding-right: 28px;
}

.inputbox label {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	font-size: 16px;
	font-weight: 500;
	pointer-events: none;
	transition: .5s ease;
}

.inputbox input:not(:placeholder-shown) ~ label {
  top: -5px;
}


.inputbox .icon {
	position: absolute;
	top: 13px;
	right: 0;
	font-size: 19px;
}

.formbox .rememberforgot {
	font-size: 14.5px;
	font-weight: 500;
	margin: -15px 0 15px;
	display: flex;
	justify-content: center;
}

.rememberforgot label input {
	accent-color: #e4e4e4;
	margin-right: 3px;
}

.btn {
	width: 100%;
	height: 45px;
	background: #c4103d;
	border: none;
	outline: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	color: aliceblue;
	font-weight: 500;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.formbox .loginregister {
	font-size: 14.5px;
	font-weight: 500;
	text-align: center;
	margin-top: 25px;
}

.loginregister p a {
	color: aliceblue;
	font-weight: 600;
	text-decoration: none;
}

.loginregister p a:hover {
	text-decoration: underline;
}

@keyframes bottom {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}