.title span {
  display: block;
  font-size: 2em;
  color: #e00104;
  font-weight: 400;
  text-transform: uppercase;
	z-index: 1;
}

.title b {
  font-size: 4em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 10px;
  display: block;
	z-index: 1;
}