.line_border_rb {
  position: absolute;
  right: 20px;
  bottom: 20px;
	z-index: 2;
}

.line_border_rb_gray {
  background: #444444;
}

.line_border_rb_gray:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 78px;
  width: 1px;
  background: #444444;
}

.line_border_rb_gray:after {
  content: '';
  position: absolute;
  left: -69px;
  bottom: 0;
  height: 1px;
  width: 78px;
  background: #444444;
}

.line_border_rb .dotted {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #444444;
  bottom: 3px;
  left: -5px;
}

.line_border_rb .dotted:before {
  content: '';
  position: absolute;
  left: -12px;
  bottom: -1px;
  width: 10px;
  height: 2px;
  border-top: 2px dotted #444444;
}

.line_border_rb .dotted:after {
  content: '';
  position: absolute;
  left: 1px;
  bottom: 6px;
  height: 10px;
  width: 2px;
  border-left: 2px dotted #444444;
}