.line_border_rt {
  position: absolute;
  right: 20px;
  top: 20px;
	z-index: 2;
}

.line_border_rt_red {
  background: #FF0000;
}

.line_border_rt_red:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -69px;
  height: 78px;
  width: 1px;
  background: #FF0000;
}

.line_border_rt_red:after {
  content: '';
  position: absolute;
  left: -69px;
  bottom: 0;
  height: 1px;
  width: 78px;
  background: #FF0000;
}

.line_border_rt .dotted {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #FF0000;
  bottom: -5px;
  left: -5px;
}

.line_border_rt .dotted:before {
  content: '';
  position: absolute;
  left: -12px;
  bottom: -1px;
  width: 10px;
  height: 2px;
  border-top: 2px dotted #FF0000;
}

.line_border_rt .dotted:after {
  content: '';
  position: absolute;
  left: 1px;
  bottom: -12px;
  height: 10px;
  width: 2px;
  border-left: 2px dotted #FF0000;
}