.gallery__title {
	margin-top: 7%;
	margin-left: 15%;
	align-self: flex-start;
	z-index: 5;
}

.gallery__title span {
	color: #fff;
}

.gallery__container__gray {
	width: 65%;
	color: #fff;
	text-align: center;
	background: #111111;
	padding: 20px 20px 20px 50px;
	margin: 1% auto;
	position: relative;
	z-index: 1;
}

.pagination {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	gap: 30px;
}

.pagination .active {
	color: #ff0000;
}
