.gallery__title {
	margin-top: 7%;
	margin-left: 15%;
	align-self: flex-start;
	z-index: 5;
}

.gallery__title span {
	color: #fff;
}

.gallery__container {
	overflow-x: hidden;
}

.gallery__container__gray {
	width: 65%;
	color: #fff;
	text-align: center;
	background: #111111;
	padding: 20px 20px 20px 50px;
	margin: 1% auto;
	position: relative;
	z-index: 1;
}

.pagination {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	gap: 30px;
}

.pagination .active {
	color: #ff0000;
}

.brand__list {
	margin: 30px 0;
}

.brand__list li {
  cursor: pointer;
	font-weight: 300;
	position: relative;
  margin: 5px 5px;
  display: inline-block;
  border-radius: 5px;
}

.brand__list li:not(:last-child)::after {
	content: " ";
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #650D00;
	margin-left: 15px;
	vertical-align: middle;
}

.activeBrand {
	text-decoration: underline;
  color: #ff0000;
  font-weight: bold;
}
