.inpage_img {
	position: absolute;
	height: 100%;
	right: 0;
	z-index: 1;
	top: 95px;
}

.inpage_img img{
	position: relative;
	display: inline-block;
	z-index: 2;
}

.inpage_img::before{
	content: "";
	display: block;
	position: absolute;
	height: 100%;
	background: url(./img/pattern2.png) no-repeat;
	width: 78px;
	z-index: 3;
}

.inpage_img::after{
	content: "";
	display: block;
	position: absolute;
	background: url(./img/pattern3.png) no-repeat;
	width: 401px;
	height: 100%;
	top: -10px;
	z-index: 1;
	right: 0;
}