/* стили заголовка */
.header {
	top: 10px;
	right: 0;
	left: 10px;
	bottom: 0;
	width: 99%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 55px;
	position: absolute;
	background: linear-gradient(45deg, rgba(76, 2, 89, .5), rgba(16, 2, 70, .5), rgba(13, 105, 154, .5));
	border-radius: 100px;
	padding: 0.5vh;
	font-size: 40px;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	box-shadow: 0 0 10px 0 rgb(226, 20, 178);
	z-index: 4;
}

.header__name {
	text-shadow: 0 0 20px rgba(172, 205, 8, 0.589);
	color: white;
	font-weight: bold;
}
/* стили кнопок формы */
.in_link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 7vw;
	position: absolute;
	background: linear-gradient(45deg, rgba(76, 2, 89, .5), rgba(16, 2, 70, .5), rgba(19, 19, 19, 0.5));
	cursor: pointer;
	border: 1px solid rgb(199, 7, 64);
	border-radius: 35%;
	top: 0;
	left: 80%;
	right: 0;
	bottom: 0;
	color: white;
	font-size: 0.5em;
}

.in_link:active {
	transform: scale(.9);
}

/* такие же стили для второй кнопки, но с другим отступом */
.up_link {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(45deg, rgba(76, 2, 89, .5), rgba(16, 2, 70, .5), rgba(19, 19, 19, 0.5));
	width: 7vw;
	position: absolute;
	cursor: pointer;
	border: 1px solid rgb(199, 7, 64);
	border-radius: 35%;
	top: 0;
	left: 90%;
	right: 0;
	bottom: 0;
	color: white;
	font-size: 0.5em;
}

.up_link:active {
	transform: scale(.9);
}