/* стили заголовка */
.header{
	top: 10px;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 55px;
	position: fixed;
	background: linear-gradient(45deg, rgba(76, 2, 89, .5), rgba(16, 2, 70, .5), rgba(13, 105, 154, .5));
	border-radius: 100px;
	padding: 0.5vh;
	font-size: 40px;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	box-shadow: 0 0 10px 0 rgb(226, 20, 178);
	z-index: 4;
}

.header_mobile {
	font-size: 25px;
	height: 40px;
	justify-content: end;
}

.burger {
	z-index: 30;
	position: absolute;
	left: 0;
	top: 47%;
	display: block;
	width: 30px;
	height: 20px;
}
.burger::before, .burger::after, .burger span {
	content: '';
	background-color: #fff;
	position: absolute;
	width: 30px;
	height: 3px;
}
.burger::before {
	top: 10px;
	transition: all 0.5s ease;
}
.burger::after {
	bottom: 27px;
	transition: all 0.5s ease;
}

.burger_active {
	z-index: 30;
	position: absolute;
	left: 0;
	top: 47%;
	display: block;
	width: 30px;
	height: 20px;
}

.burger_active span{
	display: none;
}

.burger_active::before {
	transform: rotate(45deg);
	transition: all 0.5s ease;
	width: 30px;
	height: 3px;
	content: '';
	background-color: #fff;
	position: absolute;
}

.burger_active::after {
	transform: rotate(-45deg);
	transition: all 0.5s ease;
	width: 30px;
	height: 3px;
	content: '';
	background-color: #fff;
	position: absolute;
}

.burger_menu_active {
	position: absolute;
	border: 1px solid rgb(199, 7, 64);
	border-top: none;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgb(35, 3, 90);
	width: 70vw;
	height: 150px;
	z-index: 8;
	border-radius: 5%;
	transition: all .7s ease;
}

.burger_menu {
	position: absolute;
	top: 0;
	left: -100%;
	right: 0;
	background-color: rgb(35, 3, 90);
	width: 70vw;
	height: 150px;
	z-index: 8;
	border-radius: 5%;
	transition: all .7s ease;
}

.header__name {
	text-shadow: 0 0 20px rgba(205, 182, 8, 0.589);
	color: white;
	font-weight: bold;
	margin-right: 3vw;
}

.img_username {
	display: flex;
	justify-content: center;
	position: absolute;
	left: 75%;
	font-size: 0.8em;
	color: white;
	top: 15%;
	right: 0;
	bottom: 0;
}

.img_username_hidden {
	display: none;
}

.img_username img {
	transform: scale(.9);
	border-radius: 100%;
}

.img_username_burger {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	margin-right: 5px;
	left: 0;
	font-size: 1em;
	color: white;
}

.img_username_burger img {
	top: 0;
	left: 0;
	bottom: 0;
	transform: scale(.9);
	border-radius: 100%;
}

.btn {
	width: 8.5vw;
	position: absolute;
	background: linear-gradient(45deg, rgba(76, 2, 89, .5), rgba(16, 2, 70, .5), rgba(19, 19, 19, 0.5));
	cursor: pointer;
	border: none;
	border-left: 1px solid rgb(199, 7, 64);
	border-right: 1px solid rgb(199, 7, 64);
	top: 0;
	right: 0;
	bottom: 0;
	color: white;
	font-size: 0.5em;
}

.btn:active {
	transform: scale(.9);
}

.sign_in {
	left: 75%;
}

.sign_up {
	left: 85%;
}

.btn_burger {
	width: 20vw;
	height: 35px;
	position: relative;
	background: linear-gradient(45deg, rgba(76, 2, 89, .5), rgba(16, 2, 70, .5), rgba(19, 19, 19, 0.5));
	cursor: pointer;
	border: 1px solid rgb(199, 7, 64);
	left: 10%;
	top: 5px;
	right: 0;
	bottom: 0;
	color: white;
	font-size: 0.5em;
}

.btn_hidden {
	display: none;
}