.help__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	background: #000 url(../../img/contacts_new_section_1_bg.png) center no-repeat;
	z-index: 1;
	overflow: hidden;
}

.help__title {
	align-self: flex-start;
	margin-bottom: 12px;
  margin-top: 80px;
	margin-left: 17%;
}

.contact_new_section_1_ellipse {
	position: absolute;
	left: 0;
	top: 0;
	width: 426px;
	height: 885px;
	background: url(../../img/contact_new_section_1_ellipse.png) 0 0 no-repeat;
}

.help__btn2 > * {
	width: 100%;
}

.help__btn2 {
	align-self: flex-start;
	position: relative;
	margin-top: 60px;
	right: 0;
	bottom: 0;
	width: 310px;
	border: none;
}