.logregbox {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - 58%);
	height: 100%;
	overflow: hidden;
}

.logregbox .formbox {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(20px);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: aliceblue;
	transition: all 1s ease;
	animation: right 1s ease;
}

.formbox h2 {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

.formbox .inputbox {
	position: relative;
	width: 340px;
	height: 50px;
	border-bottom: 2px solid rgb(255, 240, 240);
	margin: 30px 0;
}

.inputbox input {
	width: 100%;
	height: 100%;
	background: transparent;
	caret-color: aliceblue;
	border: none;
	outline: none;
	font-size: 16px;
	color: aliceblue;
	font-weight: 500;
	padding-right: 28px;
	transition: all 0.5s ease;
}

.inputbox label {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	font-size: 16px;
	font-weight: 500;
	pointer-events: none;
	transition: .5s ease;
}

.inputbox input:not(:placeholder-shown) ~ label,
.inputbox input:focus ~ label {
  top: -5px;
}

.inputbox .icon {
	position: absolute;
	top: 13px;
	right: 0;
	font-size: 19px;
}

.formbox .rememberforgot {
	font-size: 14.5px;
	cursor: none;
	font-weight: 500;
	margin: -15px 0 15px;
	display: flex;
	justify-content: center;
}

.rememberforgot label input {
	accent-color: #e4e4e4;
	margin-right: 3px;
}

.btn {
	width: 100%;
	height: 45px;
	background: #FF0000;
	border: none;
	outline: none;
	border-radius: 4px;
	font-size: 16px;
	color: aliceblue;
	font-weight: 500;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	transition: all .5s ease;
}

.btn:hover {
	transform: scale(1.03);
}

.formbox .loginregister {
	font-size: 14.5px;
	font-weight: 500;
	text-align: center;
	margin-top: 25px;
}

.loginregister p a {
	color: aliceblue;
	font-weight: 600;
	text-decoration: none;
}

.loginregister p a:hover {
	text-decoration: underline;
}

.error_msg_hidden {
	display: none;
}

.error_msg {
	display: block;
	position: absolute;
	transition: all .5s ease;
	right: 0;
	top: -20px;
	color: #fff;
}

@keyframes right {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}
