/* фон формы */
.wrapper_visible {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	z-index: 5;
}

.wrapper_invisible {
	transition: all 0.5s ease;
	opacity: 0;
	display: none;
}

/* кнопка отмены */
.cancel_modal {
	position: absolute;
	cursor: pointer;
	visibility: visible;
	color: azure;
	background: inherit;
	border: 1px solid rgb(252, 251, 251);
	width: 1.5em;
	height: 1.5em;
	left: 75%;
	top: 15%;
	right: 0;
	bottom: 0;
	font-size: 1.5em;
	border-radius: 100%;
	animation: opacity .7s ease;
}

.cancel_modal:active {
	transform: scale(.8);
}

/* форма */
.form {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 15%;
	left: 26%;
	right: 0;
	bottom: 0;
	width: 50vw;
	height: 70vh;
	background-image: url('./bg_modal.jpeg');
	background-size: cover;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 20%;
	animation: opacity 1s ease;
}

.tip {
	position: absolute;
	text-align: center;
	align-self: start;
	text-shadow: 0 0 25px rgba(208, 235, 9, 0.589);
	top: 12%;
	color: aliceblue;
	font-size: calc((1vh + 1vw) * 1.3);
	font-family: 'Times New Roman', Times, serif;
}

.input {
	display: block;
	position: absolute;
	color: white;
	background: linear-gradient(45deg, rgba(76, 2, 89, .5), rgba(16, 2, 70, .5), rgba(245, 27, 19, 0.5));
	border-radius: 100px;
	padding: 15px;
	width: 50%;
	height: auto;
	font-size: 1.5em;
}

.login {
	margin-bottom: 20%;
}

.showing_btn {
	position: absolute;
	background: linear-gradient(45deg, rgba(76, 2, 89, .5), rgba(245, 27, 19, 0.5));
	color: white;
	cursor: pointer;
	margin-left: 60%;	
	height: auto;
	padding: 5px;
	font-size: 1em;
	border: 1px solid white;
	border-radius: 80%;
}

.showing_btn:active{
	transform: scale(.8);
}

.remember_checkbox {
	position: relative;
	top: 10%;
	color: white;
}

.submit {
	position: absolute;
	font-size: 1.2em;
	padding: 5px 15px;
	margin-top: 10%;
	cursor: pointer;
	left: 15%;
	background: linear-gradient(45deg, rgba(76, 2, 89, .5), rgba(245, 27, 19, 0.5));
	color: white;
	border: 1px solid white;
	border-radius: 100px;
}

.submit:active{
	transform: scale(.8);
}

/* анимации */
@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
