.works__container {
	position: relative;
	width: 100%;
	height: auto;
	padding: 50px;
	background: no-repeat url('../../../../img/work.jpg');
	background-position: 50% 57%;
}

.works__title {
	left: 5%;
  margin: 0;
  margin-left: 95px;
  position: relative;
}

.works__title:before {
  content: '';
  position: absolute;
  left: -94px;
  top: 35px;
  width: 70px;
  height: 5px;
  background: #FF0000;
  z-index: 10;
}

.works__title:after {
  content: '';
  position: absolute;
  left: -94px;
  top: 59px;
  width: 70px;
  height: 5px;
  background: #FF0000;
  z-index: 10;
}

.works__title p {
  font-size: 33px;
  color: #FFF;
  font-weight: normal;
  display: block;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  z-index: 10;
}

.works__title p span {
  display: inline-block;
  color: #FF0000;
}

.works__title b {
  display: block;
  font-weight: 800;
  color: #FFF;
  text-transform: uppercase;
  font-size: 57px;
  margin-top: 10px;
  position: relative;
  z-index: 9;
}

.works__title b:before {
  z-index: -1;
  content: '2024';
  position: absolute;
  left: -45px;
  top: -77px;
  color: #212121;
  font-size: 152px;
}

.works__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.line-background {
  position: absolute;
  z-index: 0;
  width: 570px;
  height: 852px;
  border-bottom: 1px solid #1A1A1B;
  top: 0;
  left: 300px;
}

.line-background:before {
  content: '';
  position: absolute;
  top: 15px;
  right: 218px;
  width: 1px;
  height: 852px;
  background: #1A1A1B;
  z-index: 0;
}

.line-background:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 238px;
  width: 1px;
  height: 852px;
  background: #1A1A1B;
  z-index: 0;
}

.works__button {
	position: relative;
	margin-top: 40px;
	left: 85%;
} 

.works__link {
	text-decoration: none;
}
