.container {
	position: relative;
	width: 100vw;
	height: 110vh;
	padding: 50px;
	background: no-repeat url('../../../../img/work.jpg');
	background-position: 50% 70%;
}

.works__title {
	left: 5%;
  margin: 0;
  margin-left: 95px;
  position: relative;
}

.works__title:before {
  content: '';
  position: absolute;
  left: -94px;
  top: 35px;
  width: 70px;
  height: 5px;
  background: #FF0000;
  z-index: 10;
}

.works__title:after {
  content: '';
  position: absolute;
  left: -94px;
  top: 59px;
  width: 70px;
  height: 5px;
  background: #FF0000;
  z-index: 10;
}

.works__title p {
  font-size: 33px;
  color: #FFF;
  font-weight: normal;
  display: block;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  z-index: 10;
}

.works__title p span {
  display: inline-block;
  color: #FF0000;
}

.works__title b {
  display: block;
  font-weight: 800;
  color: #FFF;
  text-transform: uppercase;
  font-size: 57px;
  margin-top: 10px;
  position: relative;
  z-index: 9;
}

.works__title b:before {
  z-index: -1;
  content: '2024';
  position: absolute;
  left: -45px;
  top: -77px;
  color: #212121;
  font-size: 152px;
}
.works-swiper {
  width: 90%;
  height: 500px;
	margin-top: 5%;
}

.works-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.works__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.works__item {
  width: 270px;
  height: 500px;
  background-size: cover;
	background-position: center;
	color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	position: relative;
}

.works__item::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 248px;
  background: #FF0000;
  left: 0;
  top: 145px;
  transition: all ease .8s;
  z-index: 2;
}

.works__item::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 248px;
  background: #FF0000;
  right: 0;
  top: 145px;
  transition: all ease .8s;
  z-index: 2;
}

.works__item:hover::before {
  transform: translate(0, -150%);
}

.works__item:hover::after {
  transform: translate(0, 150%);
}

.works__line_t {
  position: absolute;
  top: 0;
  left: 0;
}

.works__line_t:before {
  content: '';
  position: absolute;
  width: 95px;
  height: 2px;
  background: #FFF;
  left: 0;
  top: 0;
  transition: all ease .3s;
  transition-delay: .3s;
}

.works__line_t:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 95px;
  background: #FFF;
  left: 0;
  top: 0;
  transition: all ease .3s;
  transition-delay: .3s;
}

.works__item:hover .works__line_t:before,
.works__item:hover .works__line_t:after,
.works__item:hover .works__line_b:before,
.works__item:hover .works__line_b:after{
  background: #FF0000;
}

.works__line_b {
  position: absolute;
  bottom: 0;
  right: 0;
}

.works__line_b:before {
  content: '';
  position: absolute;
  width: 95px;
  height: 2px;
  background: #FFF;
  bottom: 0;
  right: 0;
  transition: all ease .3s;
  transition-delay: .3s;
}

.works__line_b:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 95px;
  background: #FFF;
  bottom: 0;
  right: 0;
  transition: all ease .3s;
  transition-delay: .3s;
}

.works__line_plus {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.works__line_plus:before {
  content: '';
  position: absolute;
  left: 70px;
  bottom: 143px;
  width: 130px;
  height: 1px;
  background: #FFF;
  transition: all ease .3s;
  transition-delay: .3s;
}

.works__line_plus:after {
  content: '';
  position: absolute;
  left: 136px;
  bottom: 80px;
  width: 1px;
  height: 130px;
  background: #FFF;
  transition: all ease .3s;
  z-index: 2;
}

.works__item:hover .works__line_plus:after{
  transform: rotate(90deg);
  background: #ff0000;
}

.works__item:hover .works__line_plus:before{
  transform: rotate(90deg);
  background: #ff0000;
}

.works__item__text{
  display: block;
  position: absolute;
  color: #fff;
  font-size: 18px;
  left: 0;
  right: 0;
  top: 30px;
  padding: 0 15px;
  text-align: center;
  transition: all ease 2s;
  opacity: 1;
  z-index: 2;
}

.works__item:hover .works__item__text{
  transform: translate(0, 10%);
  text-shadow: -1px 1px 0 #ff0000;
  opacity: 1
}

.works__icon {
  width: 50px;
  height: 50px;
  margin-top: 20px;
	z-index: 2;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
	cursor: none;
}

.swiper-button-next {
	right: 0;
}

.swiper-button-prev {
	position: absolute;
  background: none;
  border: none;
	left: 0;
  overflow: visible;
  border-radius: 50%;
  transition: all ease .3s;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.swiper-button-prev:active,
.swiper-button-next:active{
 animation-name: shadow
}

.swiper-button-prev:after {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 30px solid red;
  border-bottom: 15px solid transparent;
  position: absolute;
  content: '';
  top: 5px;
  left: 0px;
  transition: all ease .3s;
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.swiper-button-prev:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 7px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid #040404;
  border-bottom: 10px solid transparent;
  background: transparent;
  z-index: 1;
  transition: all ease .3s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@keyframes shadow{
  0%{
   box-shadow: 0 0 0 rgba(224,1,4,0.5)
  }
  50%{
    box-shadow: 0 0 30px rgba(224,1,4,0.5)
  }
  100%{
     box-shadow: 0 0 0 rgba(224,1,4,0.5)
  }
}
@keyframes slide8{
  0%{
    transform: translate(0, 0);
  }
  50%{
    transform: translate(-6px, 0);
  }
  100%{
     transform: translate(2px, 0);
  }
}


@keyframes slide9{
  0%{
    transform: translate(0px, 0);
  }
  50%{
    transform: translate(-5px, 0);
  }
  100%{
     transform: translate(0px, 0);
  }
}

@keyframes slide10{
  0%{
    transform: translate(0px, 0);
  }
  50%{
    transform: translate(5px, 0);
  }
  100%{
     transform: translate(0px, 0);
  }
}

@keyframes slide11{
  0%{
    transform: translate(0px, 0);
  }
  50%{
    transform: translate(7px, 0);
  }
  100%{
     transform: translate(-2px, 0);
  }
}

.swiper-button-prev:hover:before{
  animation-name: slide9
}

.swiper-button-prev:hover:after{
  animation-name: slide8
}

.swiper-button-next {
  position: absolute;
  width: 29px;
  height: 40px;
  background: none;
  border: none;
  right: 0;
  overflow: visible;
    border-radius: 50%;
  transition: all ease .3s;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.swiper-button-next:after {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 30px solid #FF0000;
  border-bottom: 15px solid transparent;
  position: absolute;
  content: '';
  top: 5px;
  left: 0px;
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.swiper-button-next:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 4px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid #040404;
  border-bottom: 10px solid transparent;
  background: transparent;
  z-index: 1;
    transition: all ease .3s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.swiper-button-next:hover:before{
  animation-name: slide10
}

.swiper-button-next:hover:after{
  animation-name: slide11
}