* {
	box-sizing: border-box;
	font-family: 'Roboto Serif', serif;
}
/* Ширина и цвет полосы прокрутки */
::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

/* Стилизация полосы прокрутки */
::-webkit-scrollbar-thumb {
	background: #c4103d;
  border-radius: 5px;
}
