.about__title {
  margin: 0;
  line-height: 1;
  position: relative;
  z-index: 10;
	left: 11%;
}

.description {
	padding: 50px;
}

.about__title p {
  margin: 0;
  font-size: 33px;
	text-transform: uppercase;
  color: #FFF;
  font-weight: normal;
}

.about__title p span {
  color: #e00104;
  display: inline-block;
}

.about__title b {
  font-size: 60px;
  color: #FFF;
  font-weight: 900;
  text-transform: uppercase;
  display: block;
  margin-top: 16px;
}

.subtitle {
  font-size: 1.5em;
  color: #FFF;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
  padding-left: 50px;
  line-height: 1.3;
	margin-top: 40px;
	left: 18%;
}

.subtitle:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 33px;
  background: #FF0000;
  left: -60px;
  top: 0;
}