@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto+Serif&display=swap');
.HomePage {
	top: 0;
	left: 0;
	background: lightgray;
	animation: opacity 1s linear;
}

.headings {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding: 50px;
	padding-bottom: 0;
	font-size: 1.2em;
	left: 11%;
	top: 70%;
}

.headings > div {
	width: 30%;
	font-weight: 600;
}

.headings > div > img {
	width: 120px;
}

.hr {
	border-radius: 3px;
	margin-left: 5%;
	margin-top: 3%;
	width: 90%;
	height: 5px;
	background-color: black;
}

.tutorial {
	position: relative;
	width: 100%;
}

.interactive > h2 {
	color: white;
	font-size: 2em;
	margin-left: 5%;
	margin-bottom: 20px;
	text-shadow: 0 0 10px black;
}

.h3 {
	display: flex;
	color: white;
	padding-right: 5%;
	padding-left: 5%;
	margin-bottom: 1%;
	justify-content: space-between;
}

.h3 > h3 {
	font-size: 1.6em;
	text-shadow: 0 0 10px black;
}

.containers {
	display: grid;
	grid-template-columns: repeat(2, 500px);
	grid-gap: 200px;
	justify-content: center;
}

.interactive {
	background: url('../../img/homebg.jpg');
	background-position: 0 100%;
	padding: 60px;
	box-shadow: 0 0 10px 1px black;
	animation: bg 1.5s ease-in-out;
}

.container {
	width: 500px;
	height: 350px;
	background-position: center;
	background-size: contain;
	border-radius: 30px;
	border: 1px solid gray;
	background-repeat: no-repeat;
	cursor: pointer;
	animation: scale 1s alternate infinite;
}

.container:hover {
	opacity: .9;
}

.footer {
	text-align: center;
	padding: 17px;
	width: 100%;
	margin-top: 5px;
	height: 60px;
}

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes scale {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.007);
	}
}

