.contacts__container {
	position: relative;
	margin: 0 auto;
	height: 850px;
  padding: 20px;
	text-transform: uppercase;
	background: url('../../img/partners.jpg') no-repeat top center;
	overflow: hidden;
}

.contacts__container::before {
	content: '';
  position: absolute;
  top: 0;
  left: 0;
	height: 236px;
  width: 100%;
	background: url(../../img/work-backpng.png) no-repeat top center;
}

.contacts_swiper {
	width: 70%;
}

.contacts_slide {
  display: flex;
  justify-content: center;
}

.contacts__item {
  width: 250px;
  text-align: center;
  position: relative;
}

.contacts__image {
  width: 170px;
  height: 170px;
  background-size: cover;
  background-position: center;
  margin: 0 auto 20px;
  border-radius: 50%;
	border: 2px #FF0000 solid;
}

.contacts__name {
  font-size: 1.6em;
	color: #000;
  font-weight: bold;
  margin: 10px 0;
  position: relative;
  padding-top: 40px;
}

.contacts__name:before {
  content: '...............................................................................';
  position: absolute;
  left: 50%;
  top: 0px;
  font-family: HRoman;
  font-size: 9px;
  color: #FF0000;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.contacts__name:after {
  content: '......';
  position: absolute;
  left: 50%;
  top: -22px;
  height: 2px;
  width: 155px;
  color: #FF0000;
  font-size: 33px;
  letter-spacing: 20px;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.contacts__description {
  margin: 10px 0 10px;
  font-size: 0.9em;
  color: #474747;
	line-height: 1.6;
}

.contacts__hours {
  font-size: 1em;
	font-weight: 800;
  color: #000;
}

.hours-highlight {
  color: red;
  font-weight: 800;
}

.phone__container {
	display: flex;
	margin-top: 10px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.contacts__phone {
  font-size: 1.3em;
  font-weight: 800;
  color: #000;
}

.whatsapp__icon {
	position: relative;
	background-image: url(../../img/whatsapp.svg);
  -webkit-background-size: 60%;
  background-size: 60%;
	margin-right: 5px;
	width: 30px;
  height: 30px;
  border: 2px solid #de0108;
  display: block;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.65);
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__container:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../../img/partner-bottom.png) no-repeat top center;
  width: 100%;
  height: 379px;
	bottom: -100px;
}

